In [3]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Practice Final Designs

## Questions

### Question 1

29% of all jellyfish are mineral collectors, and 71% collect nothing but memories. In any given group of collectors, 47% are purists. If you get stung by a random purist jellyfish, what is the probability that it collects just memories?

### Question 2

While Santa was delivering presents, he made a mistake with his gift order and can’t seem to pick the right ones. It’s up to you to figure out how to correct his mix-up using probability! After questioning Santa, he revealed that there are a total of 24 gifts in his sleigh: 9 wooden trains, 10 figurines, and 5 candy canes. Using this information, answer the following probability questions:

(A) What is the probability that Santa pulls a wooden train and a candy cane with replacement?

(B) What is the probability that all 5 candy canes are picked without replacement?

(C) What is the probability that Santa pulls a candy cane first, then a wooden train, and then a figurine (all without replacement)?

(D) What is the probability that Santa pulls neither a candy cane nor a wooden train?

### Question 3
*I'm an ice core researcher, and I need help processesing my data to make sure it is reliable! I was able to get it into a csv format, but I don't know how to make it more usable.* The data is in the table called `domeC`.

<img src="dataset.png" alt="drawing" width="400"/>

(A) First, rename the columns so that it is easier to use when evaluating the code. Use the column labels 'Depth (m)', 'Age (ka)', 'delta D (0/00)', 'delta T (deg C)', and 'Sample ID'. Assign this table to the name `domeC_nice`.

(B)

(i) Write the code to generate the two line plots below. One with 'Age (ka)' on the x-axis and 'delta D (0/00)' on the y, and one with 'Age (ka)' on the x axis and 'delta T (deg C)' on the y axis, both using `domeC_nice`

<img src="time_series1.png" alt="drawing" width="400"/>
<img src="time_series2.png" alt="drawing" width="400"/>

(ii) What trend do you notice?

(C) Generate a scatter plot with 'Delta T' on the x-axis and 'Delta D' on the y-axis, what trend do you notice? Will the correlation coefficient be closer to 0, 0.5, or 1?

<img src="correlation.png" alt="drawing" width="400"/>

(D) Calculate the correlation coefficient for the plot. Assign it to 'r'. Feel free to use functions

*Hint: remember that you need to get rid of the rows that have 'nan' in them ('nan' is not a string, and cannot be taken away like one!)

(E) Calculate the slope (assign to 'slope') and the intercept (assign to 'inter'), then use them to calculate the delta D value for a delta T value of 3.0 deg C. Assign to 'Todays_D'.

**Climatologists use the delta Deuterium (delta-D or δD) value of ice cores and ocean water as a temperature proxy for past climates. They do this by comparing the past isotope ratios to a standard isotope ratio defined in the 1960s, called VSMOW (Vienna Standard Mean Ocean Water), and using a 'parts per thousand' (0/00) ratio for ease of understanding.**

**Above, you plotted the delta Deuterium and the change in temperature in Antarctica, retrieved by the European Project for Ice Coring in Antarctica (EPICA) from ice cores at Dome C, in Antarctica. Then, you calculated the correlation coefficient (r) for their data. Last, you calculated the possible delta Deuterium value that snow deposited today may have, dependent on the warming Antartica is experiencing now (about 3 degrees Celsius).**

**Please see the links below to learn more about EPICA, Dome C, and their projects.**

Citation: Jouzel, Jean; Masson-Delmotte, Valerie (2007): EPICA Dome C Ice Core 800KYr deuterium data and temperature estimates [dataset]. PANGAEA, https://doi.org/10.1594/PANGAEA.683655

European Project for Ice Coring in Antarctica (EPICA) (URI: https://en.wikipedia.org/wiki/European_Project_for_Ice_Coring_in_Antarctica)

### Question 4
Create a function called standard_units that converts an array into standard units.

In [4]:
def standard_units(arr):
    return...

### Question 5
Minti is hoping to get to work on time today, but is stuck waiting for her bus that is running late. She's not sure if she will make the connecting train she needs to get to the office. If the train arrives on time, she will need to take the next train in an hour which will make her late. If the train is also running late she will be able to get to work on time since she won't have to take the later train. 

Give the following information, fill in the code below to determine the probabilty that Minti will be late to work today. The bus is late about 60% of the time. The train is late about 30% of the time.

In [5]:
#probabilty_set1 = "?"
#probabilty_set2 = "?" 

Transit = Table()

Transit = Transit.with_columns(" ", make_array("bus is on time", "bus is late"), "Train is on time", "?","Train is late", "?") 

Transit.show(2)

bus_probs = make_array(..., ...)
train_probs = make_array(..., ...)

P_bus_on_time_train_on_time = ... 
P_bus_late_train_on_time = ... 
probabilty_set1 = make_array(P_bus_on_time_train_on_time,P_bus_late_train_on_time)

P_bus_on_time_train_late = ...
P_bus_late_train_late = ...
probabilty_set2 = make_array(P_bus_on_time_train_late,P_bus_late_train_late)

Transit = Transit.with_columns("Train is on time", probabilty_set1, "Train is late", probabilty_set2)

will_minti_be_late_today = "______"


print("The probabilty that Minti will be late is :", will_minti_be_late_today)

The probabilty that Minti will be late is : ______

### Question 6
Write a function `frequency_of_values` that:
- takes in an array of values (arr) and returns the frequency of each unique value in the array as a dictionary.
- if a second parameter `selected` is provided, the function should return the frequency of the selected value in the array as a percentage of the total number of elements.

In [3]:
def frequency_of_values(arr, selected):
    ...

### Question 7
Run the following cell to generate a dataset. Use the dataset to determine which customer spent the most money.

In [9]:

dates = [f"2024-{month:02d}-{day:02d}" for month in range(1, 7) for day in range(1, 9)]


categories = ["Electronics", "Clothing", "Home", "Sports", "Beauty"]
customer_ids = [f"C{np.random.randint(1, 15)}" for i in range(len(dates))]


customer_ids = np.random.choice(customer_ids, size=len(dates) * 2)
dates = np.random.choice(dates, size=len(customer_ids))
categories = np.random.choice(categories, size=len(customer_ids))
amounts = [np.random.randint(20, 1000) for i in range(len(customer_ids))]


extended_transactions = Table().with_columns(
    "Date", dates,
    "Category", categories,
    "Amount", amounts,
    "Customer ID", customer_ids
)


extended_transactions.show(10)

### Question 8
Complete the function regression equation that will return the input table with a new column called `Estimate`. This new column has the predicted values of y based on x from the linear regression equation you are making. Assume you have the `standard_units()` function that converts an array to standard units.

In [10]:
def regression_equation(tbl,x,y):
    r=...
    slope=...
    intercept=...
    return ...

### Question 9 
(A) When performing/constructing a hypothesis test, what is the difference between the p-value cut off, and the p-value?  
(B) Why is calculating the proper P-value important, as well as choosing an appropriate cut off?

### Question 10
Find the correlation between the Weight and Height attributes in the following table "table".

In [11]:
table = Table().with_columns("Weight (pounds)", np.repeat(np.arange(120,210,10), 5), "Height (inches)", np.repeat(np.arange(54, 72, 2), 5))
shuffled_weight = table.sample(with_replacement = False).column(0)
shuffled_height = table.sample(with_replacement = False).column(1)
shuffled_table = Table().with_columns("Weight", shuffled_weight, "Height", shuffled_height)
shuffled_table

Weight | Height
120    | 60
200    | 60
160    | 56
150    | 62
170    | 66
190    | 66
150    | 56
190    | 64
180    | 64
170    | 64
... (35 rows omitted)

### Question 11
A factory uses a machine to inspect products for defects. These are the known probabilities:

The probability that a product is defective is P(Defective) = 0.2
The probability that a product is NOT defective is P(Standard) = 0.8
If a product is defective, the machine correctly identifies it with the probability of P(DefectiveVerified) = 0.85
If a product is not defective, the machine incorrectly identifies it as defective with probability of P(FalsePositive) = 0.1
A randomly selected product is identified as defective by the machine. What is the probability that the widget is truly defective?

A) 68.00%

B) 83.00%

C) 45.55%

D) 21.12%

### Question 12
Mark is a big fan of the video game series Pokemon. He just learned that every pokemon has a very rare alternate color that can be obtained called a shiny. Mark's favorite pokemon is pikachu but specifically the female version becuase of the shape of it's tail. Assume the chance of encountering a shiny pokemon is 1/4096 and the chance of encountering a female pikachu is 1/4. What is the probability that Mark will find a shiny pikachu given that it is female with each encounter?

### Question 13

A community has an average age of 45 years with a standard deviation of 5 years.

Fill in the blank with a percent that makes the statement true without further assumptions, and explain your answer.

Note: No credit will be given for loose bounds such as "at least 0%" or "at most 100%". Give the best answer that is possible with the information given.

At least _______% of the people are between 25 and 65 years old.

### Question 14

You are given a table named students with the following columns:
- `name`: The student’s name (as a string).
- `math`: The student’s score in Math (as integers).
- `science`: The student’s score in Science (as integers).
- `english`: The student’s score in English (as integers).

Write a Python function `average_score(student_row)` that takes a row from the table and returns the average score of the student across all three subjects.

Use the apply method to create a new column in the students table called `avgScore` that contains
the average score for each student.

Then find the student with the highest average score’s name, as a string

In [25]:
students = Table().with_columns(
'name', ['Will', 'Isaac', 'Georgie'],
'math', [85, 90, 78],
'science', [88, 76, 95],
'english', [92, 89, 85]
)
students

name    | math | science | english
Will    | 85   | 88      | 92
Isaac   | 90   | 76      | 89
Georgie | 78   | 95      | 85

### Question 15

What does the following function mystery return?

```python
def mystery(t, label_x, label_y):
    thingy = np.mean(standard_units(t.column(label_x))*standard_units(t.column(label_y)))
    return thingy
```

A)  The X and Y Arrays in Standard Units  
B)  The R/Correlation Value of the Regression Line  
C)  The Slope of the Regression Line  
D)  The Intercept of the Regression Line

## Solutions

### Question 1

In [12]:
( 0.47 * 0.71 ) / ( ( 0.47 * 0.71 ) + ( 0.47 * 0.71 ) )

0.5

### Question 2

In [13]:
answer_a = (9/24)*(5/24)
answer_b = (5/24)*(4/23)*(3/22)*(2/21)*(1/20)
answer_c = (5/24)*(9/23)*(10/22)
answer_d = (10/24)

answer_a,answer_b,answer_c,answer_d

(0.078125, 2.352719744024092e-05, 0.03705533596837945, 0.4166666666666667)

### Question 3

In [ ]:
# A. 

domeC_nice = domeC.relabel(make_array('Depth ice/snow [m]','Age model [ka]','δD [‰ SMOW]','delta T [°C]','Sample ID'),
                      make_array('Depth (m)','Age (ka)','delta D (0/00)','delta T (deg C)','Sample ID'))


# B(i).
domeC_nice.plot('Age (ka)','delta T (deg C)')
domeC_nice.plot('Age (ka)','delta D (0/00)')

# B(ii) The delta D value and delta T value line up perfectly. This makes me think that they are highly correlated with each other.

# C.
domeC_nice.scatter('delta T (deg C)','delta D (0/00)')

# D
## array of nan is an array of the sample IDs of values with no data for delta D
array_of_nan = domeC_nice.sort('delta D (0/00)', descending=True).take(np.arange(15)).column('Sample ID')
array_of_nan

## use array of nan to remove the samples from the dataset
domeC_allgood = domeC_nice.where('Sample ID',are.not_contained_in(array_of_nan))
domeC_allgood

def standard(array):
    return (array - np.mean(array))/np.std(array)
    
def correlation(tbl, x_label, y_label):
    x_standard = standard(tbl.column(x_label))
    y_standard = standard(tbl.column(y_label))
    return np.mean(x_standard * y_standard)

r = correlation(domeC_allgood,'delta T (deg C)','delta D (0/00)')
r

# E.
delta_D = domeC_allgood.column('delta D (0/00)')
delta_T = domeC_allgood.column('delta T (deg C)')

slope = r * (np.std(delta_D)/np.std(delta_T))
slope

inter = np.mean(delta_D) - slope*np.mean(delta_T)
inter

Todays_D = slope*3.0+ inter
Todays_D

### Question 4

In [3]:
def standard_units(arr):
    return (arr - np.mean(arr))/np.std(arr)

### Question 5

In [14]:
bus_probs = make_array(.4, .6)
train_probs = make_array(.7, .3)

P_bus_on_time_train_on_time = bus_probs.item(0) * train_probs.item(0)
P_bus_late_train_on_time = bus_probs.item(0) * train_probs.item(1)
probabilty_set1 = make_array(P_bus_on_time_train_on_time,P_bus_late_train_on_time)


P_bus_on_time_train_late = bus_probs.item(0) * train_probs.item(1)
P_bus_late_train_late = bus_probs.item(1) * train_probs.item(1)
probabilty_set2 = make_array(P_bus_on_time_train_late,P_bus_late_train_late)

Transit = Transit.with_columns("Train is on time", probabilty_set1, "Train is late", probabilty_set2)

Transit.show(2)


will_she_be_late = Transit.column(1).item(1)


print("The probabilty that Minti will be late is :", will_she_be_late)

The probabilty that Minti will be late is : 0.12

### Question 6

In [15]:
def frequency_of_values(arr, selected=None):
    # Calculate the frequency of each value in the array
    total_elements = len(arr)
    frequencies = {}
    
    for value in arr:
        if value in frequencies:
            frequencies[value] += 1
        else:
            frequencies[value] = 1
    
    # If selected is specificed in the arguments
    if selected is not None:
        if selected in frequencies:
            return round((frequencies[selected] / total_elements) * 100, 2)
        else:
            return 0.0
    
    return frequencies

### Question 7

In [16]:
customer_totals = extended_transactions.group("Customer ID", sum).select("Customer ID", "Amount sum")
top_spender = customer_totals.sort("Amount sum", descending=True).row(0)
top_customer_id = top_spender.item(0)
top_customer_total = top_spender.item(1)

print(f"The customer who spent the most is {top_customer_id} with a total of ${top_customer_total}.")

The customer who spent the most is C12 with a total of $9041.

### Question 8

In [17]:
def regression_equation(tbl,x,y):
    r = np.mean(standard_units(tbl.column(x)) * standard_units(tbl.column(y)))
    slope = r * np.std(tbl.column(y)) / np.std(tbl.column(x))
    intercept=np.mean(tbl.column(y)) - slope * np.mean(tbl.column(x))
    return tbl.with_column("Estimate",slope * tbl.column(x) +intercept)

### Question 9

**(A)**
*P-Value Cutoff: Something you pick before the testing, does not depend on observed data or simulation.*

*P-Value: Is a value that you compute, and does depend on the observed data and simulation.*

**(B)**   
*It is important to choose an appropriate cut off value, and properly calculating the p-value because if not, then the wrong result can affect wheather a hypothesis is accepted or rejected.*

### Question 10

In [ ]:
w_su = (shuffled_table.column(0)-np.mean(shuffled_table.column(0)))/np.std(shuffled_table.column(0))
h_su = (shuffled_table.column(1)-np.mean(shuffled_table.column(1)))/np.std(shuffled_table.column(1))
r = np.mean(w_su*h_su)
r

### Question 11

In [20]:
#A) 68.00 %

### Question 12

In [18]:
(1/4096) * (1/4)

6.103515625e-05

### Question 13

In [24]:
# How much data is within 4 sds of the mean? Chebyshev. 

1 - 1/4**2

0.9375

### Question 14

In [28]:
def avgscore(studentrow):
    return (studentrow.item('math') + studentrow.item('science') + studentrow.item('english'))/3

In [29]:
students = students.with_column("avgScore", students.apply(avgscore))
students

name    | math | science | english | avgScore
Will    | 85   | 88      | 92      | 88.3333
Isaac   | 90   | 76      | 89      | 85
Georgie | 78   | 95      | 85      | 86

In [30]:
highestscore = students.sort('avgScore').column('name').item(0)
highestscore

'Isaac'

### Question 15
B