In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

# Lecture 11 #

### Rows from lists

In [ ]:
Table().with_columns('Numbers', np.arange(1, 4))

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Matcha Latte', 'Northtown', 5.5],
    ['Espresso', 'Cafe Mokka',  2.75],
    ['Latte',    'Cafe Mokka',  5.25],
    ['Espresso', "Jitter Bean",   2]
])
drinks

## Review: Group by one column

In [ ]:
survey = Table.read_table('data111_survey_fa24.csv')
survey.show(3)

In [ ]:
survey.group("Handedness")

In [ ]:
(survey
 .select('Handedness', 'Hours of Sleep')
 .group("Handedness", np.average))

## Cross-classification: grouping by two columns

In [ ]:
survey.group(["Handedness", 'Sleep Position'])

In [ ]:
(survey
 .select("Handedness", 'Sleep Position', "Hours of Sleep")
 .group(["Handedness", 'Sleep Position'], collect=np.average))

## Pivot Tables

In [ ]:
# This cell will throw an error
# You cannot include just 1 of the optional arguments
survey.pivot('Sleep Position', 
             'Handedness', 
             collect=np.average)

## Joins ##

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Northtown', 'Cafe Mokka', 'Northtown')
)
discounts

In [ ]:
combined = 
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

## Activity ##

In [ ]:
# From the CORGIS Dataset Project
# By Austin Cory Bart acbart@vt.edu
# Version 2.0.0, created 3/22/2016
# https://corgis-edu.github.io/corgis/csv/skyscrapers/

sky = Table.read_table('skyscrapers.csv')
sky = (sky.with_column('age', 2024 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

1. For each city, how tall is the tallest building for each material?

In [ ]:
# 1. For each city, how tall is the tallest building for each material?

2. For each city, what’s the height difference between the tallest steel building and the tallest concrete building?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

3. Generate a table of the names of the oldest buildings for each material for each city:

In [ ]:
# 3. Generate a table of the names of the oldest buildings for each 
#    material for each city:

# Hint: You can use sort to find the name of the oldest building in the dataset
sky.sort('age', descending=True).column('name').item(0)


# Put your solution here