## Python Arithmetic ##

## Names ##

In [ ]:
# The line below causes a name error if b isn't assigned yet.
# b

In [ ]:
# The line below causes a syntax error
# a + b = total

### Why Names?

In [ ]:
# Option 1
40 * 15.00

In [ ]:
40 * 52 * 15.00

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [ ]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

## Functions and Call Expressions

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
# The line below causes a type error because the wrong name was used.
# round(123.456, digs=1)

In [ ]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

## Tables ##

In [ ]:
from datascience import *

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

### Activity: 
Run the cell below to import a more interesting table about NBA players.

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

**1.** Create a table containing the point guards from the 2020 season.

In [ ]:
point_guards = ...
point_guards_2020 = ...

In [ ]:
point_guards_2020

**2.** Use table operations to show the 10 lowest earning point guards in 2020.