If you want to type along with me, head to [this notebook](https://humboldtjupyter-instruction1.nrp-nautilus.io/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata111_fa24&branch=main&urlpath=lab%2Ftree%2Fdata111_fa24%2Flectures%2Flec03_live.ipynb) instead. If you prefer follow along by executing the cells, stay in this notebook.

## Python Arithmetic ##

In [ ]:
2 + 6

In [ ]:
2 * 4

In [ ]:
# The line below errors
# * 4

In [ ]:
# The line below errors 
# 2 * * 4

In [ ]:
2 ** 4

In [ ]:
8/9

In [ ]:
2 + 3 * -5

In [ ]:
(2 + 3) * -5

In [ ]:
-(1 + 1) + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 9

In [ ]:
'hello'

In [ ]:
'Data 111'

## Names ##

In [ ]:
a = 2

In [ ]:
a

In [ ]:
# The line below causes a name error if b isn't assigned yet.
# b

In [ ]:
b = 3
a * b

In [ ]:
a

In [ ]:
b

In [ ]:
total = a + b
total

In [ ]:
a = 10
total

In [ ]:
total

In [ ]:
a

In [ ]:
total = a + b
total

In [ ]:
# The line below causes a syntax error
# a + b = total

In [ ]:
a = a + 1
a

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [ ]:
# Option 1
40 * 15.00

In [ ]:
40 * 52 * 15.00

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [ ]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
round?

In [ ]:
round(number=123.456)

In [ ]:
# The line below causes a type error because the wrong name was used.
# round(123.456, digs=1)

In [ ]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

In [ ]:
import math

In [ ]:
math.sqrt(2)

## Tables ##

In [ ]:
from datascience import *

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.where('Price',5.25)

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### Activity: 
Run the cell below to import a more interesting table about NBA players.

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

**1.** Create a table containing the point guards from the 2020 season.

In [ ]:
point_guards = ...
point_guards_2020 = ...

In [ ]:
point_guards_2020

**2.** Use table operations to show the 10 lowest earning point guards in 2020.