If you want to type along with me, head to [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata111_fa24&branch=main&urlpath=lab%2Ftree%2Fdata111_fa24%2Flectures%2Flec05_live.ipynb) instead. If you prefer follow along by executing the cells, stay in this notebook.

In [ ]:
from datascience import *
import numpy as np

## Arrays Recap and more ##

In [ ]:
first_four = make_array(1, 2, 3, 4)

In [ ]:
first_four

In [ ]:
first_four * 2

In [ ]:
first_four ** 2

In [ ]:
type(first_four)

In [ ]:
next_four = make_array(5, 6, 7, 8)

In [ ]:
first_four + next_four

In [ ]:
only_three = make_array(5, 6, 7)

In [ ]:
# This line will cause an error 
first_four + only_three

In [ ]:
min(first_four)

In [ ]:
first_four # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
# Check the number of elements
len(str_array)

In [ ]:
make_array(1.0,2,3)

In [ ]:
make_array('ha',2,3)

In [ ]:
first_four.item(0)

In [ ]:
first_four.item(1)

In [ ]:
# Select the last item
first_four.item(-1)

In [ ]:
sum(first_four)

In [ ]:
np.average(first_four)

**Activity** What is the average of all *even* numbers between 2 and 16 (inclusive)?

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
nba.num_rows

In [ ]:
nba.num_columns

In [ ]:
nba.labels

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
warriors.relabeled('salary', '$')

In [ ]:
warriors

In [ ]:
warriors = nba.where('team', 'Golden State Warriors').drop('team').relabeled('salary', '$')
warriors.show(3)

In [ ]:
warriors.select('$')

In [ ]:
type(warriors.select('$'))

In [ ]:
# This will produce an error
 np.average(warriors.select('$'))

In [ ]:
warriors.column('$')

In [ ]:
type(warriors.column('$'))

In [ ]:
np.average(warriors.column('$'))

In [ ]:
# another way
warriors.column(3)

In [ ]:
suns = nba.where('team', 'Phoenix Suns').drop('team').relabeled('salary', '$')

In [ ]:
np.average(warriors.column('$')) - np.average(suns.column('$'))

In [ ]:
np.sum(warriors.column('$')) - np.sum(suns.column('$'))

**Activity:** What was the average rank of players on the Golden State Warriors in 2020?

In [ ]:
# A note about taking rows
nba.take(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

**Activity:** How many odd numbers are there between 5 and 75 (inclusive)?
*Hint* Create the relevant array then apply a function to determine how many elements are in it.

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('14th', '13th', '12th', '11th')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois.with_column('Food $', food_dollars)

In [ ]:
du_bois = du_bois.with_column('Food $', food_dollars)
du_bois

In [ ]:
np.max(du_bois.column('Food $'))

In [ ]:
du_bois.with_column(
    'Fraction of well-to-do food $', 
    du_bois.column('Food $') / np.max(du_bois.column('Food $')))

**Activity:** Use table functions we learned this week to find the income bracket (“class”) that spent the highest proportion of income on rent.

## Where Method

In [ ]:
nba.where('position', are.containing('G'))

## Print and string formatting

In [ ]:
1 + 2
3 + 4

In [ ]:
print(1 + 2)
print(3 + 4)

In [ ]:
'Go Humboldt!'

In [ ]:
print('Go Humboldt!')

In [ ]:
cph = 'Cal Poly Humboldt'

In [ ]:
'{cph} is awesome'

In [ ]:
f'{cph} is awesome'

In [ ]:
print(f'{cph} is awesome!')
print(f'{warriors.column("name").item(0)} is pretty awesome too!')